h1{
    background-color: #726d6d ;
border-radius: 50%;
text-align: center;
}

img{
    height: 500px;
;
}

p{
    border: 1px;
    color: rgba(183, 200, 32, 0.864);
}

h2{
    background-color: #726d6d ;
    text-align: center ;
    border-radius: 50%;
}

.p-fondo{
color:rgba(183, 200, 32, 0.864) ;
}

body {
    background-color: black;
    font-family:"Poppins", sans-serif;
    padding: 3rem;
    max-width: 1000px;
}

.lista {
    color: rgba(183, 200, 32, 0.864);
}